apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: jwes
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-ghhj-tenant/byoc-app-wpop/jwes@sha256:40b73b0f152e287382d9f9201d95b77db7da1614226ce4a35e9266eb680e58f6
        name: my-java-quarkus
        resources: {}
status: {}
